html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.slider {
    width: 60%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 0px;
}

.slick-slide img {
  width: 200px;
  height: 200px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.main{
  height: 3000px;
  padding-left: 10%;
  padding-right: 10%;
}

.main2{
  background-color: rgb(218, 218, 218);
}

.card-group{
padding: 20px;
}

.comprar{
  margin-left: 5px;
}