.main{
    padding: 2% 7%;
}

.formSec{
    padding: 5%;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    border: 1px solid rgb(173, 173, 173);
}

#adicionarCampo{
    color: white;
    
}

.pointer{
    cursor: pointer;
}

.linkRemover{
    color: white;
    margin-top: 10px;
}

.linksRemover{
    margin-top: 6%;
}