<h1 class="text-center">Cadastro de Produtos</h1>
<br><br>

<form class="formSec needs-validation" action="/admin/produtos/novo" method="POST" novalidate>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="prodNome">Produto</label>
            <input type="text" class="form-control" id="prodNome" name="prodNome" placeholder="Nome Produto" required>
            <div class="valid-feedback">Está OK!</div>
            <div class="invalid-feedback">Este campo é obrigatorio</div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="prodPreco">Preço</label>
            <input type="number" class="form-control" id="prodPreco" name="prodPreco" placeholder="Preço Produto" required>
            <div class="valid-feedback">Está OK!</div>
            <div class="invalid-feedback">Este campo é obrigatorio</div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="slug">Slug:</label>
            <input type="text" class="form-control" id="slug" name="prodSlug" placeholder="Slug Produto" required>
            <div class="valid-feedback">Está OK!</div>
            <div class="invalid-feedback">Este campo é obrigatorio</div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="prodQuantidade">Quantidade:</label>
            <input type="text" class="form-control" id="quanprodQuantidadetidade" name="prodQuantidade" placeholder="Quantidade Produto" required>
            <div class="valid-feedback">Está OK!</div>
            <div class="invalid-feedback">Este campo é obrigatorio</div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="slug" class="not-allowed">Categoria:</label>
            <select name="prodCategoria" class="form-control">
                <option value="" class="bg-secondary text-white not-allowed">--Selecione--</option>
                {{#each categorias}}
                    <option value="{{_id}}">{{nome}}</option>
                {{else}}
                    <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="prodImagem">Imagem Produto</label>
            <input type="text" class="form-control" id="prodImagem" name="prodImagem" placeholder="Link imagem Produto" required>
            <div class="valid-feedback">Está OK!</div>
            <div class="invalid-feedback">Este campo é obrigatorio</div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12 mb-3">
            <label for="prodDesc">Descrição:</label>
            <textarea type="text" class="form-control" id="prodDesc" name="prodDesc" placeholder="Descrição Produto" required></textarea>
            <div class="valid-feedback">Está OK!</div>
            <div class="invalid-feedback">Este campo é obrigatorio</div>
        </div>
    </div>
    <br>
    <br>

    <button type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="clearAllFields()">Limpar Campos</button>
</form>