{{#if success_msg}}
    <div class="alert alert-success container">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger container">{{error_msg}}</div>
{{/if}}

{{#if error}}
    <div class="alert alert-danger container">{{error}}</div>
{{/if}}

{{#if success}}
    <div class="alert alert-danger container">{{success}}</div>
{{/if}}
