<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">E-comerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/categorias">Categorias <span class="sr-only"></span></a>
      </li>
      {{#if userIsAdm}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/admin/usuarios">Visualizar</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/usuario/registro">Cadastrar</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" class="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Categorias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/admin/categorias">Visualizar</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/admin/categorias/add">Cadastrar</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" class="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Produtos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/admin/produtos">Visualizar</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/admin/produtos/add">Cadastrar</a>
        </div>
      </li>
      {{else}}
      
      {{/if}}
    </ul>
    {{#if user}}
      <ul class="navbar-nav ml-auto">
        <form class="form-inline my-2 my-lg-0 mr-4">
          <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar Produtos..." aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <li class="nav-item">
            <a class="nav-link" href="/usuario/logout" tabindex="-1" aria-disabled="true">LogOut</a>
        </li>
      </ul>
    {{else}}
      <ul class="navbar-nav ml-auto">
        <form class="form-inline my-2 my-lg-0 mr-4">
          <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar Produtos..." aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <li class="nav-item">
            <a class="nav-link" href="/usuario/login" tabindex="-1" aria-disabled="true">LogIn</a>
        </li>
      </ul>
    {{/if}}
  </div>
</nav>
<style>
    .container{
        border-radius: 5px;
    }
    body{
        background-color: orange;
    }
    .navbar{
        background-color: #bf1300;
    }
</style>