<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="https://i.imgur.com/TYgILoQ.png" >
    <title>Ecomerce vkg</title>
</head>
<style>


    .slick-slide img {
        width: 200px;
        height: 200px;
    }


</style>
<body>
<img src="https://i.imgur.com/JX08k7c.png" alt="Banner Kabum black Friday" class="bannerBlack">
{{>_msg}}
<div class="container mt-4" style="background-color: #bf1300">
    {{>_navbar}}
</div>
<div class="container mt-4">
    {{{body}}}
</div>
</body>
<style>
    .bannerBlack{
        width: 100%;
    }
    .container{
        background-color: #ffffff;
        height: 100%;
    }
</style>

</html>