<h3>Categorias: </h3>

{{#each categorias}}
    <hr>
    <h4>{{nome}}</h4>
    <a href="/categorias/{{slug}}"style="text-decoration: none; cursor:pointer; color:#d91300; font-size: 20px;">
        Ver produtos...
    </a>
    <hr>
{{else}}
    <h4>Nenhuma categoria registrada</h4>
{{/each}}